{% extends 'general/base.html' %}
{% load static %}

{% block title %}
    {% if object %}
        Редактирование : {{ object.pk }}
    {% else %}
        Добавление 
    {% endif %}
    Выручка водителя: {{ object_list.first.driver }}
{% endblock %}

{% block h %}
    {% if object %}
        Редактирование : {{ object.pk }}
    {% else %}
        Добавление 
    {% endif %}
    Выручка водителя: {{ object_list.first.driver }}
{% endblock %}

{% block content %}
<a class="btn attention mb-3" href="{% url 'home' %}">Назад</a>

{% for object in object_list %}
    {% include 'objects/one_column.html' %}
{% endfor %}
{% endblock %}

{% block script %}
{% endblock %}

